<div class="row devise">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.hidden_field :email, value: "example@example.com" %>
      <%= f.hidden_field :password, value: "test1234" %>
      <%= f.hidden_field :remember_me, value: 1 %>
      <div class="form-group test-user">
        <%= f.submit "Log in as Testuser", class: "btn btn-base btn-xs" %>
      </div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions form-group">
        <%= f.submit "Log in", class: "btn btn-default" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
