<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= render 'layouts/head_tag' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'layouts/modal/login_modal' %>
    <%= render 'layouts/modal/signup_modal' %>
    <%#= render 'layouts/modal/quick_view_modal' %>
  </body>
</html>
