<%= form_for parlor do |f| %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :insta %>
    <%= f.text_field :insta, class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Create", class: "btn btn-default" %>
  </div>

<% end %>
