<div class="media listitem">
  <div class="media-left media-middle">
    <%= image_tag(store.assets.first.photo.url :medium, class: "media-object", alt: "Image") %>
    <span class="maskingImage"></span>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to store.name, parlor_path(store.id) %></h4>
    <p><%= detail(store, key: "address") %></p>
    <div class="chart-container">
      <h3>crowded situation</h3>
      <canvas id="myChart<%= store.id %>" height="200" width="500"></canvas>
      <% @chart_data = data_set(store) %>
      <script>
        var labels = <%= @chart_data[:labels] %>, data = <%= @chart_data[:data].to_json.html_safe %>, id = "myChart<%= store.id %>";
        draw_graph();
      </script>
    </div>
  </div>
</div>
