<div class="col-md-9 col-sm-8 col-xs-12">
  <div class="row productListSingle">
    <% stores.each do |store| %>
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left">
            <%= image_tag(store.assets.first.photo.url, class: "media-object", alt: "Image") %>
            <span class="maskingImage"><a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to store.name, parlor_path(store.id) %></h4>
            <p><%= "#{store.zipcode_jp} #{store.adress}" %></p>
            <h3>crowded situation</h3>
            <div class="chart-container">
              <canvas id="myChart" height="200" width="500"></canvas>
              <% @chart_data = data_set(store) %>
              <script>
                var labels = <%= @chart_data[:labels] %>, data = <%= @chart_data[:data].to_json.html_safe %>;
                draw_graph();
              </script>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12">
      <div class="media">
        <div class="media-left">
          <%= image_tag("sample/products/products-02.jpg", :class => "media-object", :alt => "Image") %>
          <span class="maskingImage"><a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a href="single-product.html">NAME</a></h4>
          <p>123-4556 adress</p>
          <h3>crowded situation</h3>
          <div class="chart-container">
            <canvas id="myChart" height="200" width="500"></canvas>
            <script>draw_graph();</script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
