<div class="panel panel-default filterNormal">
  <div class="panel-heading">
    <h5 class="panel-title">エリア</h5>
  </div>
  <div class="panel-body collapse navbar-side-collapse">
    <ul class="sidebar-list">
      <% rigions.each do |key, value| %>
        <li class="sidebar-item">
          <a href="#<%= key %>" data-toggle="collapse">
            <%= value[:name] %><i class="fa fa-plus"></i>
          </a>
          <ul id="<%= key %>" class="collapse sidebar-collapse-list">
            <% value[:prefcode_min].upto value[:prefcode_max] do |num| %>
              <li class="sidebar-collapse-item">
                <%= link_to root_path(area: { num: num, name: pref_name(num) }) do %>
                  <i class="fa fa-caret-right" aria-hidden="true"></i><%= pref_name(num) %><span>(<%= pref_count(num) %>)</span></a>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
