<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">エリア</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
        
          <% rigions.each do |key, value| %>
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#<%= key %>"><%= value[:name] %><i class="fa fa-plus"></i></a>
              <ul id="<%= key %>" class="collapse collapseItem">
                <% value[:prefcode_min].upto value[:prefcode_max] do |num| %>
                  <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i><%= pref_name(num) %> <span>(<%= pref_count(num) %>)</span></a></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">エリア</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% rigions.each_value do |area| %>
          <li><a href="#"><%= area[:name] %><span>(<%= adress_count(area) %>)</span></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
