<div class="row singleProduct">
  <div class="media">
    <div class="productSlider">
      <div id="carousel" class="carousel slide center-block" data-ride="carousel">
        <div class="carousel-inner">
          <% store.assets.each_with_index do |asset, index| %>
            <div class="item <%= "active" if index == 0 %>" data-thumb="<%= index %>">
              <%= image_tag asset.photo.url %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="clearfix">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
          <% store.assets.each_with_index do |asset, index| %>
            <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
              <%= image_tag asset.photo.url :thumb %>
            </div>
          <% end %>
          <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2><%= store.name %></h2>
        <p><%= "#{store.zipcode_jp} #{store.adress}" %></p>
        <p>TEL : <%= store.telephone %></p>
        <p>HP : <%= link_to store.parlor.url, store.parlor.url %></p>
        <p>営業時間、定休日、LO</p>
        <p>お知らせ</p>
      </div>
      <div class="col-xs-6">
        <h3>crowded situation</h3>
        <div class="chart-container">
          <canvas id="myChart" height="200" width="500"></canvas>
          <% @chart_data = data_set(@parlor) %>
          <script>
            var labels = <%= @chart_data[:labels] %>, data = <%= @chart_data[:data].to_json.html_safe %>;
            draw_graph();
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
