<div class="row devise">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h2>EDIT</h2>
    <p class="clearfix"><%= link_to "Back to show", parlor_path(@parlor.id), class: "pull-right" %></p>
    
    <%= form_tag parlor_path, method: :patch do %>

      <div class="adress">
        <div class="field form-group">
          <%= label_tag :address1 %>
          <%= text_field_tag :address1, "", name: "parlor[address][address1]", class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= label_tag :address2 %>
          <%= text_field_tag :address2, "", name: "parlor[address][address2]", class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= label_tag :city %>
          <%= text_field_tag :city, "", name: "parlor[address][city]", class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= label_tag :state %>
          <%= text_field_tag :state, "", name: "parlor[address][state]", class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= label_tag :zipcode %>
          <%= text_field_tag :zipcode, "", name: "parlor[address][zipcode]", class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= label_tag :telephone %>
          <%= text_field_tag :telephone, "", name: "parlor[address][telephone]", class: "form-control" %>
        </div>
      </div>

      <div class="actions form-group">
        <%= submit_tag "Create", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
