<%= form_for address do |f| %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :address1 %>
    <%= f.text_field :address1, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :address2 %>
    <%= f.text_field :address2, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :telephone %>
    <%= f.text_field :telephone, class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Create", class: "btn btn-default" %>
  </div>

<% end %>
