<!-- HEADER -->
<div class="header clearfix" role="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav">
          <i class="fa fa-sort-desc" aria-hidden="true"></i>
          <span class="sr-only">Toggle navigation</span>
        </button>
        <%= link_to 'portfolio', root_path, class: "navbar-brand" %>
      </div>
      
      <div class="collapse navbar-collapse" id="header-nav">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown search">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
            <ul class="dropdown-menu">
              <li>
                <%= form_tag root_path, method: "get" do %>
                  <div class="field">
                    <%= search_field_tag :q, '', class: "form-control", placeholder: "word...", id: "search-field" %>
                    <%= submit_tag "Search", class: "btn btn-base form-control", id: "submit-field" %>
                  </div>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="dropdown bars">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li><p>Logged in as <strong><%= current_user.email %></strong>.</p></li>
                <li><%= link_to 'Edit', edit_user_registration_path(current_user) %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Signup', new_user_registration_path, class: "dropdown-item" %></li>
                <li><%= link_to 'Login', new_user_session_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
