<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= render 'layouts/head_tag' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="main-wrapper">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <section class="mainContent clearfix">
        <div class="container">
          <div class="row">
            <%= yield %>
          </div>
        </div>
      </section>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/modal/login_modal' %>
      <%= render 'layouts/modal/signup_modal' %>
    </div>
  </body>
</html>
