<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= render 'layouts/head_tag' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="main-wrapper padding-top">
      <%= render 'layouts/messages' %>
      <!-- LIGHT SECTION -->
      <%= render 'layouts/lightsection', title: @title, store: (@store if @store) if @title %>
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix">
        <div class="container">
          <%= yield %>
        </div>
      </section>
      <%= render 'layouts/add_parlor_modal' if @title %>
    </div>
  </body>
</html>
